


@mixin app {

	img.v-image.v-disabled {
		opacity: 0.5;
	}
	
	.casilla-blanca {
		background: #FFFFFF;
	}
	
	.casilla-blanca-selected {
		background: #CCFFFF;
	}
	
	.casilla-negra {
		background: #999999;
	}
	
	.casilla-negra-selected {
		background: #559999;
	}
}

